header {
    overflow: hidden;
    /* Eliminamos errores de float */
    background-image: url(/src/data/rickandmorty/image/Rick-and-Morty.png);
    background-size: 100% 100%;
    margin-left: 10%;
    margin-right: 10%;
}

header nav {
    float: right;
    line-height: 100px;
}