* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/src/data/rickandmorty/image/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 90px 20px 0;
}

.buscador {
    position: relative;
    margin-top: 29px;
}

.buscador input {
    padding: 0 15px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(76, 127, 83, 0.911);
    border-radius: 10px;
    background-color: #7c8876af;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 25px;
    text-align: center;
    color: rgb(6, 6, 6);
}

 ::placeholder {
    padding: 100px;
    color: black;
}

.header {
    background-color: rgba(108, 211, 132, 0.459);
    height: 80px;
    position: fixed;
    /*fijo posicion de la barra*/
    width: 100%;
    /*ancho 100 %*/
    top: 0;
    left: 0;
}


/*barra de navegacion*/

.nav {
    display: flex;
    justify-content: space-between;
    /*los navegadores quedan alejados del logo*/
    max-width: 1000px;
    /*para navegador es grande ,el logo se acomode */
    margin: o auto;
    /* para centrar ,arriba y abajo o y izquierda y derecha  */
}

.nav-link {
    color: rgb(13, 19, 13);
    text-decoration: none;
}

.main {
    color: rgb(184, 190, 183);
}

.logo {
    /* se trabaja el logo se acomoda
    para que quede sentrado */
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-buton {
    color: rgb(16, 69, 17);
    background: none;
    /*no color */
    border: none;
    /*elimino el borde*/
    font-size: 30px;
    /*tamaño a las barras*/
    padding: 0 20px;
    line-height: 60px;
    /*en modo navegador cambia de tamaño*/
    display: none;
    /* para que no se vea en dispositivo escritoro*/
    cursor: pointer;
}

.nav-menu {
    /*se ajustan los nav en linea */
    display: flex;
    margin-right: 400px;
    list-style: none;
    list-style: 40px;
}

.nav-menu-item {
    /*se separan  cada navegador*/
    font-size: 18px;
    margin: 0 10px;
    /*se separan */
    line-height: 80px;
    /*se sentro a la misma altura que el logo*/
    text-transform: uppercase;
    left: 10px;
}

.nav-menu-link {
    /*se ajusto los  bordes y el percusor */
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    /* background-color: aquamarine */
    background-color: #4c4c4c7c;
    transition: 0.5s;
}


/*se modifica diceño dispocitivo movil*/

@media (max-width:768px)
/*si el dispositivo tenga menos de -- se le aplica */

{
    body {
        background-color: blueviolet;
        padding-top: 0 70px;
        background-position: center center;
        background-size: 100% 100%;
    }
    .header {
        /*modifica en ancho del navegador*/
        height: 60px;
    }
    .logo {
        /* se trabaja el logo se acomoda
        para que quede sentrado */
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        /*se ajustan los nav en linea */
        flex-direction: column;
        align-items: center;
        /*centrando letras del navegador */
        margin-right: 20px;
        background-color: #156530;
        position: fixed;
        /*posiciona segun el movimiento de la ventana */
        left: 0;
        top: 60px;
        /*sera el tope del elemneto del navegador*/
        width: 100%;
        /*ancho de la barra */
        padding: 20px 0;
        height: calc(100% - 60px);
        /*toma todo el espacio */
        overflow-y: auto;
        left: 100%;
        /*se corre a la derecha */
        transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link {
        /*se ajusto los  bordes y el percusor */
        padding: 8px 12px;
        border-radius: 3px;
    }
    .nav-menu-link:hover {
        /* background-color: aquamarine */
        background: none;
        color: aliceblue;
    }
    .nav-buton {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .buscardor {
        position: absolute;
        padding: 5px;
    }
    .buscardor input {
        margin-top: 29px;
        width: 240px;
        padding: 40px;
    }
}